.slide-left-enter{
	position: absolute;
	width: 100%;
	top:0;
	left: 100%;
}
.slide-left-enter-to{
	position: absolute;
	width: 100%;
	top:0;
	left: 100%;
	transform: translateX(-100%);
}
.slide-left-enter-active{
	transition:0.5s;
    
}

.slide-left-leave-active /* .fade-leave-active below version 2.1.8 */ {
	transition:0.5s;
    transform: translateX(-100%);
}