<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
<body>
	
	<div id="app">
		<input type="text" v-model="title">
		<div>{{title}}</div>
		<div>
			<div v-for="n in list">{{n}}</div>
		</div>
		<div v-if="status">
			if
		</div>
		<button v-on:click="click"> click</button>		
	</div>
	<div id="list">
		<input v-model='newTodoText' v-on:keyup.enter='addNewTode' type="text" name="" placeholder="Add a todo">
		<ul>
			<li is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
				></li>
		</ul>
	</div>
	<script src="content/js/vue.js"></script>
	<script>
		
			Vue.component('todo-item', {
  				props: ['title']
			})
			el:'#todo-list',
			data:{
				newTodoText: '',
				todos[
					{
						id:1;
						title:'Add a todo'
					},{
						id:2;
						title:'Add a todo'
					},{
						id:3;
						title:'Add a todo'
					}
				]
				newTodoText:4
			},
			methods:{
					addNewTode:function(){
						this.todos.push({
        				id: this.nextTodoId++,
      					title: this.newTodoText
      				})
      				this.newTodoText = ''
					}
			}

		/*var app = new Vue({
			el:'#app',
			data: {
				title: 'Vue',
				list: [1,2,3,4,5],
				status: false
			},
			methods: {
				click: function () {
					this.status = !this.status;
				}
			}
		})*/
	</script>
</body>
</html>